/* Updated CSS to display Recommended Articles side by side */
/* Updated CSS for all text */
html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Add this line to prevent horizontal overflow */
    word-wrap: break-word;
}
    
::-webkit-scrollbar {
    width: 0.1em;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}


body {
    font-family: 'obvia', sans-serif;
    /* Custom font and fallback */
    font-weight: 400;
    /* Normal font weight */
    font-style: normal;
    /* Normal font style */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    

}

/* Header styles */
header {
    background-color: rgb(227, 236, 172);
    color: rgb(32, 32, 32);
    text-align: center;
    padding: 0.25em 3em 1.5em 3em;
    margin: 0;
}

h1 {
    font-family: 'findreplace', sans-serif;
    /* Custom font for the title */
    font-weight: 500;
    /* Slightly bold font weight */
    font-style: normal;
    font-size: 4.5em;
    /* Adjust the font size as needed */
}

.abstract {
    font-weight: 500;
    /* Normal font weight */
}

.author,
.date {
    font-size: 0.875em;
    /* Smaller font size for author and date */
}

main {
    margin: 1.25em;
    /* Margin for the main content */
}

main article {
    display: grid;
    grid-template-columns:  15vw 1fr 1fr 1fr 1fr 15vw;
}

article {
    border: 1px solid #ddd;
    padding: 1.25em;
    /* Padding for article content */
    margin-bottom: 1.25em;
    /* Margin between articles */
}

article p {
    grid-column: 2 / span 4;
}
article h2 {
    grid-column: 2 / span 4;
}
.row1 {
    grid-column: 2/ span 4;
}
.row21 {
    grid-column: 2/ span 2;
}
.row22 {
    grid-column: 4/ span 2;
}


.row41 {
    grid-column: 2/ span 1;
}
.row42 {
    grid-column: 3/ span 1;
}
.row43 {
    grid-column: 4/ span 1;
}
.row44 {
    grid-column: 5/ span 1;
}



h2 {
    font-size: 1.125em;
    /* Font size for section headings */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

ul {
    list-style: none;
    /* Remove list bullets */
    padding: 0;
}

li {
    margin: 0.625em 0;
    /* Margin for list items */
}

.recommended-articles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.25em;
    flex-wrap: nowrap;
    /* Prevent wrapping to the next line */
    overflow-x: auto;
    /* Enable horizontal scrolling if necessary */
}

.article-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 1em;
    flex: 1;
    box-sizing: border-box;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-box img {
    width: 100%;

    border-radius: 10px 10px 0 0;
    /* Add top rounded corners for the image */
    padding: 0;
    /* Remove padding for the image */
}

.article-content {
    padding: 1em;
    /* Add padding for the text, including left padding */
}

.article h3 {
    font-size: 1em;
}

.article p {
    font-size: 0.875em;
}


/* CSS for the new header layout */
.header-content {
    display: grid;
    grid-template-columns:  1fr 38.2vw;
    /* Align header content to the bottom */
}

.header-text {
    grid-column: 1 /span 1;
    /* Take up available space in the header */
    text-align: left;

    align-items: flex-end;
    /* Align header text to the left */
}

.header-image img {
    grid-column: 2 /span 1;
    /* Set the width of the header image */
    width: 100%;
    height: auto;
    /* Maintain the aspect ratio */
    align-items: flex-start;
    /* Align the image to the top */
}

/* CSS for styling the tags */
.tags {
    display: flex;         /* Use flex layout */
    flex-wrap: wrap;       /* Allow tags to wrap to a new row */
    margin-top: 10px;      /* Add spacing between the title and tags */
}

.tag-box {
    display: inline-block;
    background-color: #337ab7;
    /* Background color for the tags */
    color: #fff;
    /* Text color for the tags */
    border-radius: 20px;
    /* Rounded corners for the tags */
    padding: 5px 10px;
    /* Padding for the tags */
    margin-right: 10px;
    margin-bottom: 10px;
    /* Spacing between tags */
    text-decoration: none;
    transition: background-color 0.3s ease;
    /* Smooth color transition on hover */
    font-weight: 600;
}

.tag-box:hover {
    background-color: #286090;
    /* Color change on hover */
}

/* CSS for the author box and circular image */
.author-box {
    display: flex;
    align-items: center;
}

.author-info {
    flex: 1;
    /* Take up available space for author information */
    text-align: left;
    /* Align author information to the left */
}

.author-image img {
    width: 2em;
    /* Set the width of the circular author image */
    height: 2em;
    /* Set the height of the circular author image */
    border-radius: 50%;
    /* Make the author image circular */
    margin-right: 10px;
    /* Spacing between the image and author information */
}

/* CSS for images within figure elements */
.image-container img {
    height: auto;
    /* Set a maximum height for images */
    width: 100%;
}



/* CSS for formatting individual images */
.image-container {
    width: auto;
    /* Allow images to adjust their width */
    margin-right: 20px;
    /* Add right margin to separate the images */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    flex-shrink: 0;
    /* Prevent images from shrinking and breaking to the next line */
    
        font-weight: 300;
        font-size: .75em;
    
    }


.image-container:last-child {
    margin-right: 0;
    /* Remove the right margin from the last image */
}

p {
    line-height: 1.8;
}


.footnote {
    position: relative;
    cursor: help;
    font-weight: 500;
}

.footnote a {
    text-decoration: none;
    color: black;
}

.footnote:hover .footnote-content {
    display: inline-block;
}

.footnote-content {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Adjust this value as needed to control the width */
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 5em 1em 5em;
    z-index: 1;
    font-weight: 500;
    overflow-wrap:break-word;
}

#Bibliography {
    scroll-behavior: smooth;
}

@media (max-aspect-ratio: 2.5/3) {

    main article {
        display: grid;
        grid-template-columns:  5vw 1fr 1fr 1fr 1fr 5vw;
    }
    .recommended-articles {
        display:contents;
        
        
    flex-wrap:wrap;
    }
    .article-box {
        width: 80%;
        margin-left: 10%;
        margin-top: 10%;
    }

    .header-text {
        grid-column: 1 /span 1;
        grid-row: 2;
    }
    
    .header-image img {
        width: 80vw;
        grid-column: 1 /span 2;
        grid-row: 1;
    }

    h1{
        font-size: 5em;
    }

    .abstract, .tag-box, .author , .p{

        font-size: 1.2em;
    }
}