
  .bodyContent {
    display: flex;
    /* height: 100vh;  */
  }
  .headerContent {
    display: flex;
  }

  .abImgCont, .abTextCont {
    border: 1px solid blue; 
    box-sizing: border-box;
    width: 100%;
  }

  .abTextCont {
    width: 71.063rem;
  }

  .abImgCont {
    flex: 1;
  }

  .abTextCont h5 {
    color: var(--000000, #000);

/* W: Body */
font-family: "SpaceGrot_Reg";
font-size: 1.35rem;
font-style: normal;
font-weight: 400;
line-height: 164%; /* 2.46rem */
  }

 .abImgCont img {
  float: right;
  padding-right: 3.75rem;
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .abTextCont h5 {
    padding-right: 1rem;
  }
}

 .abtFaculty {
    display: flex;
    /* background-color: red !important; */
    height: fit-content;
    margin-top: 7.72rem;
    margin-bottom: 5.34rem;
 }

 .abtFacultyTeam {
    width: 15.9375rem;
    height: 2.625rem;
 }

 .abtFacultyTeam h1, .abEditorialCont h1, .abContributorsCont h1{
    color: #000;
    font-family: "BasementGrotesque";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
 }
 .abEditorialCont h1, .abContributorsCont h1 {
    margin-bottom: 2.19rem;
 }

 .abtFacultyPerson h3 {
    color: #000;
    font-family: "SpaceGrot_Reg";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 2.625rem */
 }

 .abEditorialCont {
    background-color: yellow;
    padding-bottom: 7.5rem;
 }

 /* collapsable */
 details {
    padding: 0.5em 0.5em 0;
  }

  details p, details .links {
    /* background-color: red; */
    padding-left: 2rem;
  }
  
  summary {
    background-color: white;
    border: 1px solid green;
    font-family: "SpaceMono_Reg";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height:4.375rem;
    margin: -0.5em -0.5em 0;
    /* padding: 0.5em; */
    cursor: pointer; 
    list-style: none; 
    position: relative;
    vertical-align: auto;
  }
  
  details[open] {
    /* padding: 0.5em; */
    /* background-color: aqua; */
    padding-bottom: 2.38rem;
  }
  
  details[open] summary {
    margin-bottom: 0.5em;
    /* background-color: red;; */
  }

  details > summary {
    display: flex;
    align-items: last baseline;
    vertical-align:baseline;
  }
  
/* Custom image for open state */
details[open] > summary::before {
  content: url(../assets/landing/open.png);
  padding-right: 1rem;
  width: 1rem;
}

/* Custom image for closed state */
details > summary::before {
  content: url(../assets/landing/closed.png);
  padding-right: 1rem;
  width: 1rem;
}

/* Hide the default arrow in Safari */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    /* Target Safari specifically */
    details > summary::-webkit-details-marker {
      display: none;
    }
  }
}
  
  .links {
    display: flex;
  }
  
  .links a {
    margin-top:1.13rem;
    margin-right: 1.56rem;
    color: var(--9070FF, #9070FF);
    font-family: "SpaceGrot_Reg";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 162.052%; /* 1.41794rem */
    text-decoration-line: underline;
  }

  span {
    color: var(--7C7C7C, #7C7C7C);
    font-family: 'SpaceGrot_Reg';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem; /* 166.667% */
    margin-left: 3.75rem;
  }
  
  .footerEnd {
    width: 100%;
    height: 1.8125rem;
    flex-shrink: 0;
    color: var(--000000, #000);
    font-family: "SpaceMono_Reg";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 162.052%;
    padding-left: 1.56rem;
    padding-right: 1.56rem;
    padding-bottom: 8.78rem;
  }

  .footerEnd p {
    border-top: 1px solid black;
    color: var(--000000, #000);
    font-family: "SpaceMono_Reg";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 162.052%;
    margin-left: 1.56rem;
    margin-right: 1.56rem;
  }