* {
    background-color: #FFF9EB;
}
@font-face {
    font-family: 'Unibody8_Reg';
    src: url('../assets/fonts/Unibody8_Reg.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono_Reg';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGrot_Reg';
    src: url('../assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BasementGrotesque';
    src: url('../assets/fonts/BasementGrotesque.otf') format('truetype');
}



p {
    color: #000;
    font-family: Space Grotesk;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 162.052%; /* 2.3295rem */

}

.hero {
    padding-top: 4.19rem !important;
    background-color: #FFF9EB;
}

h1{
    color: #000;
    font-family: 'BasementGrotesque';
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
    color: #000; 
    background-color: #FFF9EB;
}

.navbar {
    background-color:  #FFF9EB !important;
    border-bottom: 1px solid black;
    padding-top: 1.6rem !important;
    padding-bottom: 1.3rem !important;
  }

#navbar-class-title {
    padding-left: 3.14rem !important;
}
.navbar-menu {
    background-color:  #FFF9EB !important;
}

.navbar h1 {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-item {
    background-color:  transparent !important;
    text-decoration: none;
    color: #000;
    font-family: 'SpaceMono_Reg', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal !important;
}

#spacing-nav {
    padding-right: 4.25rem !important;
}

.nav-icon{
    width: 1.3125rem;
    vertical-align: text-top;
    margin-right: 10px;
}
nav a:hover {
    color: #000 !important;
    text-decoration:underline !important;
} 