@font-face {
    font-family: 'Unibody8_Reg';
    src: url('../assets/fonts/Unibody8_Reg.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono_Reg';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceGrot_Reg';
    src: url('../assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BasementGrotesque';
    src: url('../assets/fonts/BasementGrotesque.otf') format('truetype');
}

p {
    font-family: 'SpaceGrot_Reg', sans-serif;
    font-size: 23px;
    line-height: 37.27px;

}

h1{
    font-family: 'BasementGrotesque', sans-serif;
    font-size: 96px;
    line-height: 115.2px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF9EB;
    /* background-image: url('/assets/landing/background.webp'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: repeat; */
    color: #000; 
}

nav {
    background-color: transparent;
    font-family: 'SpaceMono_Reg', sans-serif;
    padding: 15px;
    text-align: right; 
    position: relative;
    z-index: 2; 
    border-bottom: 1px solid black;
}

.nav-div {
    margin: 0 10px;
    display: inline-block; 
    position: relative; 
    
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal; 
}

.nav-icon{
    display: inline-block;
    width: 21px;
    vertical-align: text-top;
}

nav a:hover {
   border-bottom: 1px solid black;
}

.land-cont{
    width: 100%;
    /* display: inline-block; */
    /* zoom: 1; */
   
}

.text-cont {
    width: 49%;
    float: left;
}

.img-cont {
    width: 50%;
    float: right;
    /* border: 1px solid red; */
}

.text-cont p {
    width: 798px;
    padding-left: 56px;
    padding-right: 56px;
}

.text-cont h1 {
    width: 739px;
    padding-left: 56px;
    padding-right: 56px;
}

#head {
    width: 784px;
    /* border: 1px solid blue; */
    margin-left: 5%;
    z-index: 0;
}

#readnow {
    position: relative;
    width: 316.43px;
    float: right;
    margin-top: -35%;
    z-index: 1;
}