/*TAG COLOURS*/
.AIHardware {
    background-color: rgb(96, 128, 0);
}

.DesignEthics {
    background-color: rgb(0, 117, 128);
}

.TechnologyGovernance {
    background-color: rgb(128, 0, 66);
}

.PrivacyConcerns {
    background-color: rgb(19, 0, 128);
}

.EthicalAI {
    background-color: rgb(128, 0, 0);
}

.author {
    background-color: rgb(188, 228, 69);
}

/* Updated CSS to display Recommended Articles side by side */
/* Updated CSS for all text */

@font-face {
    font-family: 'BasementGrotesque';
    src: url('/assets/fonts/BasementGrotesque-Black_v1.202.woff') format('woff');
    /* Replace with the actual path to your font file */
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    /* Replace with the actual path to your font file */
}

@font-face {
    font-family: 'Unibody8_Reg';
    src: url('/assets/fonts/Unibody8_Reg.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* Add this line to prevent horizontal overflow */
    word-wrap: break-word;
    background-color: rgba(255, 249, 235, 1);
    cursor: crosshair;
}

p {
    font-family: 'SpaceGrotesk';
    /* Custom font and fallback */
    font-weight: 300;
    /* Normal font weight */
    font-style: normal;
    /* Normal font style */
}


::-webkit-scrollbar {
    width: 0em;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}


body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin: 0;
}

/* Header styles */
header {
    color: black;
    text-align: center;
    margin: 0;
    border-bottom: .05em solid #000000;
    /* Add a 2px solid border at the bottom of the header */

}

#readnow {
    position: fixed;
    width: 5em;
    float: right;
    right: 2em;
    top: 2em;
    z-index: 20;
    transition: transform 0.3s ease; 
}

#readnow:hover {
    transform: scale(1.02);
    transform: rotate(180deg);
    cursor: cell;
}

h1 {
    font-family: 'BasementGrotesque';
    /* Custom font for the title */
    font-weight: 800;
    /* Slightly bold font weight */
    font-style: normal;
    font-size: 2.75em;
    /* Adjust the font size as needed */
    line-height: 1.25;
    margin: 0;
    padding: 0;
}


h2 {
    font-family: 'BasementGrotesque';
    font-size: 2.5em;
    grid-column: 1 /span 12;
    padding: 0;
    margin-top: .5em;
    margin-bottom: .25em;
    /* Font size for section headings */
}

h3 {
    font-family: 'BasementGrotesque';
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.3;
    grid-column: 1 /span 12;
    padding: 0;
    margin-top: .75em;
    margin-bottom: .25em;
    margin-left: .5em;
    /* Font size for section headings */
}

h4 {
    font-family: 'Unibody8_Reg', sans-serif;
    font-weight: 300;
    /* Custom font for the title */
    font-size: .65em;
    /* Adjust the font size as needed */
    line-height: 1;
    margin: 0;
    padding: 0;
}

article h2 {
    grid-column: 3 / span 12;
    font-size: 1.5em;
    padding-top: 1em;
}

.recommended-articles h2{
    font-size: 2.5em;
    grid-column: 1 /span 12;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: cell;
}

main article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 0em;
    padding-bottom: 3.5em;
    padding-top: 2em;
    border-bottom: .05em solid #000000;
}



article .image-container {
    padding-top: 1.5em;
}

.img-hover {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: unset;
}


.wide {
  height: auto;
  max-width: 90vw;
}

.height {
    width: unset;
    max-height: 90vh;
  }

.img-hover.active {
    display: inline-block;
    width: unset;

}

article p {
    padding-top: 1.5em;
}

article .quote {
    padding-top: 2.5em;
    padding-bottom: 1em;
}


article p {
    grid-column: 3 / span 8;
    line-height: 1.75;
}

.quote {
    grid-column: 2 /span 10;
    color: rgba(80, 255, 65, 1);
    margin: 0;
    padding: 0;
}

.row1 {
    grid-column: 3/ span 8;
}

.row21 {
    grid-column: 3/ span 4;
}

.row22 {
    grid-column: 7/ span 4;
}


.row41 {
    grid-column: 3/ span 2;
}

.row42 {
    grid-column: 5/ span 2;
}

.row43 {
    grid-column: 7/ span 2;
}

.row44 {
    grid-column: 9/ span 2;
}

footer {
    text-align: left;
}

 #Bibliography {
    scroll-behavior: smooth;
}

.Bibliography {
    padding-left: 2em;
    padding-right: 1.5em;
    padding-bottom: 3.5em;
    padding-top: 1em;
    border-bottom: .05em solid #000000;
} 

ul { 
    padding:0;
    margin: 0;
}

.Num {
    width: 100%;
    display: inline-block;
    padding-top: 1em;
}
.Num h1 {
    width: 12%;
    float: left;
    height: 100%;
    padding-right: 1%;
    text-align: right;
    padding-top: 0em;
}

.Num p {
    padding-left: 1%;
    line-height: 1.2;
    padding-top: 1%;
    font-size: .75em;
    color: black;
    word-wrap: break-word;
    hyphens: auto;
    width: 85%;
    float: left;
    text-align: left;

    
}

.Num b {
    font-weight: 500;
}

.columns{
    float: left;
    position: relative;
    margin-right: 2%;
    list-style-type: none;
}

.Num {
    text-align: left;
    color: rgba(80, 255, 65, 1);

}

.recommended-articles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 2em;
    padding-top: .5em;
    margin-bottom: -.5em;
    flex-wrap: nowrap;
    /* Prevent wrapping to the next line */
    overflow-x: auto;
    /* Enable horizontal scrolling if necessary */
}


.article-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    flex: 1;
    box-sizing: border-box;
    width: 30%;
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2em;
    margin-top: 1.5em;
    margin-bottom: 3.5em;
    border: .05em solid #000000;

    transition: transform 0.3s ease; 

}

.article-box:hover {
    transform: scale(1.02);
    cursor: cell;
}

.article-box .tags{
    padding: 0;
    margin-bottom: 1em;

    margin-top: .8em;
    margin-left: 1em;
    /* Font size for section headings */
}
  .article-content{
        padding-left: .5em;
        padding-right: 1em;
    }



.box:hover {
    text-decoration: underline;
}


.article-box img {
    width: 100%;

    border-radius: 10px 10px 0 0;
    /* Add top rounded corners for the image */
    padding: 0;
    margin: 0;
    /* Remove padding for the image */
}




/* CSS for the new header layout */
.header-content {
    display: grid;
    grid-template-columns: 50vw 50vw;
    /* Align header content to the bottom */
    margin: 0;
    padding: 0;
    align-items: flex-start;
    /* Align header content to the top */
}

.header-text {
    grid-column: 1 /span 1;
    /* Take up available space in the header */
    text-align: left;

    align-items: flex-start;
    /* Align header text to the left */
    padding: 1.5em;
    padding-left: 2em;
    height: 100%;
}

.header-text h1{
    margin-bottom: .5em;
}

.header-image {
    width: 100%;
    height: 100%;
    grid-column: 2 / span 1;
    align-items: flex-start;
    /* Align the image to the top */
    justify-content: flex-start;
    background-image: url('/assets/max_article/1_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.header-image img {

    display: none;
}


/* CSS for styling the tags */
.tags {
    display: flex;
    /* Use flex layout */
    flex-wrap: wrap;
    margin-top: .4em;
    /* Allow tags to wrap to a new row */
    /* Add spacing between the title and tags */
    padding-bottom: .5em;
}

/* CSS for the author box and circular image */
.box {
    display: flex;
    align-items: center;
    margin-top: .75em;
    padding-right: 1.5em;
}

.info {
    flex: 1;
    /* Take up available space for author information */
    text-align: left;
    /* Align author information to the left */
}

.circle {
    width: 1em;
    /* Set the width of the colored circle */
    height: 1em;
    /* Set the height of the colored circle */
    margin-top: .125em;
    border-radius: 50%;
    /* Make the circle shape */
    margin-right: 7px;
    /* Spacing between the circle and author information */
}

/* CSS for images within figure elements */
.image-container img {
    height: auto;
    /* Set a maximum height for images */
    width: 100%;
}





/* CSS for formatting individual images */
.image-container {
    width: auto;
    /* Allow images to adjust their width */
    margin-right: 20px;
    /* Add right margin to separate the images */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    flex-shrink: 0;
    /* Prevent images from shrinking and breaking to the next line */
    font-family: 'SpaceGrotesk';
    font-weight: 400;
    font-size: .75em;
    color: rgb(78, 78, 78);
    margin-top: 1em;
    margin-bottom: 1em;
}


.image-container:last-child {
    margin-right: 0;
    /* Remove the right margin from the last image */
}

.image-container:hover{
    color: black;
    text-decoration: underline;
    cursor: zoom-in;
}

p {
    line-height: 1.75;
    font-size: 1em;
    margin: 0;
}

.abstract {
    padding-top: 2.5em;
}


.footnote {
    position: relative;
    cursor: help;
    font-weight: 500;

}

.footnote a {
    text-decoration: none;
    color: black;
    cursor: help;
}

.footnote:hover .footnote-content {
    display: inline-block;

}

.footnote-content {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    /* Full width of the viewport */
    max-width: 100%;
    /* Adjust to set the maximum width to the full viewport width */
    background: rgba(80, 255, 65, 1);
    color: black;
    padding: 1em 5em 1em 5em;
    box-sizing: border-box;
    /* Include padding in the width calculation */
    z-index: 1;
    overflow-wrap: break-word;
    /* Wrap long words to next line */
    text-align: center;
}



.mobile {
    display: none;
}

@media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 2.5/2){

    #remove{
        display: none;
    }

    main article{
        padding-left: 2em;
        padding-right: 1em;
    }

    h1{
        font-size: 2em;
    }
    h2{
        font-size: 2em;
    }

    p{
        font-size: .85em;
    }

    .Num{

    padding-top: 1.2em;
    }

    .article-box {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 2em;
        margin-top: 1.5em;
        margin-bottom: 3.5em;
        padding-bottom: 1em;
        border: .05em solid #000000;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     }

    .header-text {
        grid-column: 2 /span 10;
        grid-row: 2;
    }

    .header-image {
        grid-column: 1 /span 12;
        grid-row: 1;
        background-image: none;
    }

    .header-image img {
        display: inline-block;
        grid-column: 1 /span 12;
        grid-row: 1;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

   
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .Bibliography p {
        grid-column: span 11;
    }

    article p {
        grid-column: 2 / span 10;
    }

    article h2 {
        grid-column: 2 / span 9;
    }

    .quote {
        grid-column: 2 /span 10;
    }

    .row1 {
        grid-column: 2/ span 9;
    }

    .row21 {
        grid-column: 2/ span 4;
    }

    .row22 {
        grid-column: 7/ span 4;
    }


    .row41 {
        grid-column: 1/ span 3;
    }

    .row42 {
        grid-column: 4/ span 3;
    }

    .row43 {
        grid-column: 7/ span 3;
    }

    .row44 {
        grid-column: 10/ span 3;
    }
}

@media (max-aspect-ratio: .7) {

   .recommended-articles{
    margin-left: 2em;
    margin-right: 1em;
   }

    main article{
        padding-top: 1em;
        padding-left: 2em;
        padding-right: 1em;
    }

    h1{
        font-size: 2em;
    }
    h2{
        font-size: 2em;
    }

    h3{
        font-size: 1em;
    }
    .info {
        font-size: 1em;
    }
    h4{
        font-size: .65em;
    }

    p{
        font-size: .85em;
    }

    .abstract {
        font-size: .85em;
    }

    .header-text .info {
        font-size: 1em;
    }

    .Num{

    padding-top: 1.2em;
    }

    .article-box {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 1em;
        margin-top: 1.5em;
        margin-bottom: 3.5em;
        border: .05em solid #000000;
    }

  

    .Bibliography{
        padding-left: 2em;
        padding-right: 2em;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     }

    .header-text {
        grid-column: 1 /span 12;
        grid-row: 2;
    }

    .header-image {
        grid-column: 1 /span 12;
        grid-row: 1;
        background-image: none;
    }

    .header-image img {
        display: inline-block;
        grid-column: 1 /span 12;
        grid-row: 1;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

   
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .Bibliography p {
        grid-column: span 11;
    }

    article p {
        grid-column: 1 / span 12;
        padding-right: 1em;
    }

    article h2 {
        grid-column: 1 / span 9;
    }

    .quote {
        grid-column: 2 /span 10;
    }

    .row1 {
        grid-column: 1/ span 12;
    }

    .row21 {
        grid-column: 2/ span 4;
    }

    .row22 {
        grid-column: 7/ span 4;
    }


    .row41 {
        grid-column: 1/ span 3;
    }

    .row42 {
        grid-column: 4/ span 3;
    }

    .row43 {
        grid-column: 7/ span 3;
    }

    .row44 {
        grid-column: 10/ span 3;
    }
}