/* Updated CSS to display Recommended Articles side by side */
/* Updated CSS for all text */


.alvin {
    background-image: url('../assets/articles/Article/Alvin2.png');
}


.gracia {
    background-image: url('../assets/articles/Article/GraciaLG2.png');
}

.guanhao {
    background-image: url('../assets/articles/Article/Guan-HaoLG.png');
}

.johann {
    background-image: url('../assets/articles/Article/JohannLG.png');
}

.juliana {
    background-image: url('../assets/articles/Article/JulianaLG.png');
}

.marshall {
    background-image: url('../assets/articles/Article/Fixedmarshall.png');
}

.max {
    background-image: url('../assets/articles/Article/MaxLG2.png');
}

.rebecca {
    background-image: url('../assets/articles/Article/RebeccaArticle.png');
}

.rishi {
    background-image: url('../assets/articles/Article/RishiArticle.png');
}

.shravani {
    background-image: url('../assets/articles/Article/ShivraniLG.png');
}

.sid {
    background-image: url('../assets/articles/Article/SidLG.png');
}
.haoxin {
    background-image: url('../assets/articles/Article/HaoxinLG.png');
}

.joseph {
    background-image: url('../assets/articles/Article/JosephLG.png');
}

.sidsel {
    background-image: url('../assets/articles/Article/SidselLG.png');
}


@font-face {
    font-family: 'BasementGrotesque';
    src: url('../assets/fonts/BasementGrotesque-Black_v1.202.woff') format('woff');
    /* Replace with the actual path to your font file */
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    /* Replace with the actual path to your font file */
}

@font-face {
    font-family: 'Unibody8_Reg';
    src: url('../assets/fonts/Unibody8_Reg.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono_Reg';
    src: url('../assets/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono_Ital';
    src: url('../assets/fonts/SpaceMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono_Bold';
    src: url('../assets/fonts/SpaceMono-Bold.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* Add this line to prevent horizontal overflow */
    word-wrap: break-word;
    background-color: #EFE6CD;
    cursor: crosshair;
}



p {
    font-family: 'SpaceGrotesk';
    /* Custom font and fallback */
    font-weight: 300;
    /* Normal font weight */
    font-style: normal;
    /* Normal font style */
    line-height: 1.75;
    font-size: 1.35em;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;

}

.box p {
    font-family: 'SpaceMono_Reg';
}


body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin: 0;
}

/* Header styles */
header {
    color: black;
    text-align: center;
    margin: 0;
    border-bottom: .075em solid #000000;
    /* Add a 2px solid border at the bottom of the header */

    /* padding-top: 1.5em; */

}

#readnow {
    position: fixed;
    width: 5em;
    float: right;
    right: 2em;
    top: 2em;
    z-index: 20;
    transition: transform 0.3s ease;
}

#readnow:hover {
    transform: scale(1.02);
    transform: rotate(180deg);
    cursor: cell;
}

h1 {
    font-family: 'BasementGrotesque';
    /* Custom font for the title */
    font-weight: 500;
    /* Slightly bold font weight */
    font-style: normal;
    font-size: 4em;
    /* Adjust the font size as needed */
    line-height: 1.45;
    margin: 0;
    padding: 0;
}


h2 {
    font-family: 'BasementGrotesque';
    font-weight: 500;
    font-size: 2.5em;
    grid-column: 1 /span 12;
    padding: 0;
    margin-top: .5em;
    margin-bottom: .25em;
    /* Font size for section headings */
}

h3 {
    font-family: 'BasementGrotesque';
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.3;
    grid-column: 1 /span 12;
    padding: 0;
    margin-top: .75em;
    margin-bottom: .25em;
    margin-left: .5em;
    /* Font size for section headings */
}

article h3{
    grid-column: 3 /span 10;
    padding-left: 0;
    margin-left: 0;
    margin-top: 1.5em;
    margin-bottom: .25em;
}

h4 {
    font-family: 'Unibody8_Reg', sans-serif;
    font-weight: 300;
    font-style: italic;
    /* Custom font for the title */
    font-size: .65em;
    /* Adjust the font size as needed */
    line-height: 1;
    margin: 0;
    padding: 0;
}



.q2{
    font-family: 'SpaceMono_Ital', italic;
    font-weight: 100;
    /* Custom font for the title */
    line-height: 1.5;
    font-size: 1.35em;
    margin: 0;

        display: inline;
}

i{
    font-family: 'SpaceMono_Reg', italic;
    font-weight: 100;
    /* Custom font for the title */
    line-height: 1.75;
    font-size: 1em;
    margin: 0;

        display: inline;
}

.inline{
    display: inline;
}

article h2 {
    grid-column: 3 / span 8;
    font-size: 2.25em;
    padding-top: .5em;
}

.recommended-articles h2 {
    font-size: 2.5em;
    grid-column: 1 /span 12;
    padding: 0;
    width: 67vw;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: cell;
}

main article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 0em;
    padding-bottom: 6em;
    padding-top: 4em;
}



.line {
    height: 0.1vh;
    margin-left: 16vw;

    margin-right: 16vw;
    border-bottom: .075em solid #000000;
}

.show {
    display: none;
}


article .image-container {
    padding-top: 1.5em;
}

.img-hover {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: unset;
}


.wide {
    height: auto;
    max-width: 90vw;
}

.height {
    width: unset;
    max-height: 90vh;
}

.img-hover.active {
    display: inline-block;
    width: unset;

}

article p {
    padding-top: .25em;
    padding-bottom: 1em;
}

article .quote {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}


article p {
    grid-column: 3 / span 8;
    line-height: 1.75;
}

.quote {
    grid-column: 2 /span 10;
    color: #48DF3B;
    margin: 0;
    padding: 0;
}

.row1 {
    grid-column: 3/ span 8;
}

.row21 {
    grid-column: 3/ span 4;
}

.row22 {
    grid-column: 7/ span 4;
}


.row41 {
    grid-column: 3/ span 2;
}

.row42 {
    grid-column: 5/ span 2;
}

.row43 {
    grid-column: 7/ span 2;
}

.row44 {
    grid-column: 9/ span 2;
}

footer {
    text-align: left;
    padding-right: 16vw;
}

#Bibliography {
    scroll-behavior: smooth;
}

.Bibliography {
    padding-top: 1em;
    padding-bottom: 5em;
}

.Bibliography h2 {
    padding-top: .75em;
    padding-bottom: .5em;
    padding-left: 16vw;
}

.margin {
    margin-left: 14.5vw;
    width: 70vw;
}

ul {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.Num {
    width: 100%;
    display: inline-block;
    padding-top: 1em;
}

.Num h1 {
    font-family: 'SpaceMono_Bold';
    font-weight: 500;
    font-size: 3em;
    float: left;
    height: 100%;
    padding-right: 1%;
    text-align: right;
    padding-top: 0em;
    margin-top: -.15em;
}

.Num p {
    padding-left: 1%;
    line-height: 1.2;
    padding-top: 1%;
    font-size: 1em;
    color: black;
    word-wrap: break-word;
    hyphens: auto;
    width: 85%;
    float: left;
    text-align: left;


}

.Num b {
    font-weight: 500;
}

.columns {
    float: left;
    position: relative;
    margin-left: 2%;
    list-style-type: none;
}

.Num {
    text-align: right;
    color: #48DF3B;

}

.recommended-articles {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 16vw;
    padding-top: 2.5em;
    flex-wrap: nowrap;
    /* Prevent wrapping to the next line */
    overflow-x: auto;
    /* Enable horizontal scrolling if necessary */
}


.article-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    flex: 1;
    box-sizing: border-box;
    width: 30%;
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2em;
    margin-top: 1.5em;
    margin-bottom: 3.5em;
    border: .05em solid #000000;
    height: 500px;
    transition: transform 0.3s ease;

}

.article-box:hover {
    transform: scale(1.02);
    cursor: cell;
}

.article-box .tags {
    padding: 0;
    margin-bottom: 1em;

    margin-top: .8em;
    margin-left: 1em;
    /* Font size for section headings */
}

.article-content {
    padding-left: .5em;
    padding-right: 1em;
}



.box:hover {
    text-decoration: underline;
}


.article-box img {
    width: 100%;

    border-radius: 10px 10px 0 0;
    /* Add top rounded corners for the image */
    padding: 0;
    margin: 0;
    /* Remove padding for the image */
}




/* CSS for the new header layout */
.header-content {
    display: grid;
    grid-template-columns: 50vw 50vw;
    /* Align header content to the bottom */
    margin: 0;
    padding: 0;
    align-items: flex-start;
    /* Align header content to the top */
}

.header-text {
    grid-column: 1 /span 1;
    /* Take up available space in the header */
    text-align: left;

    align-items: flex-start;
    /* Align header text to the left */
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    padding-left: 1.75em;

    padding-right: 2em;
    height: 100%;
}

.header-text h1 {
    padding-top: 1.8em;
    margin-bottom: .5em;
    line-height: 1.3;
}

.header-text h2 {
    line-height: 1.5;
    margin-top: -.5em;
}

.header-image {
    width: 100%;
    height: 100%;
    grid-column: 2 / span 1;
    align-items: flex-start;
    /* Align the image to the top */
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


.header-image img {

    display: none;
}


/* CSS for styling the tags */
.tags {
    display: flex;
    /* Use flex layout */
    flex-wrap: wrap;
    margin-top: .4em;
    /* Allow tags to wrap to a new row */
    /* Add spacing between the title and tags */
    padding-bottom: .5em;
}

/* CSS for the author box and circular image */
.box {
    display: flex;
    align-items: center;
    margin-top: .75em;
    padding-right: 1.5em;
}

.info {
    flex: 1;
    /* Take up available space for author information */
    text-align: left;
    /* Align author information to the left */
}

.circle {
    width: 1em;
    /* Set the width of the colored circle */
    height: 1em;
    /* Set the height of the colored circle */
    margin-top: .125em;
    border-radius: 50%;
    /* Make the circle shape */
    margin-right: 7px;
    /* Spacing between the circle and author information */
}

/* CSS for images within figure elements */
.image-container img {
    height: auto;
    /* Set a maximum height for images */
    width: 100%;
    padding-bottom: .5em;
}

.image-container video {
    height: auto;
    /* Set a maximum height for images */
    width: 100%;
    padding-bottom: .5em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Adjust the background color and opacity as needed */
    z-index: 2;
    /* Ensure the overlay is on top of other elements */
}



/* CSS for formatting individual images */
.image-container {
    width: auto;
    /* Allow images to adjust their width */
    margin-right: 20px;
    /* Add right margin to separate the images */
    box-sizing: border-box;
    /* Include padding and border in the width calculation */
    flex-shrink: 0;
    /* Prevent images from shrinking and breaking to the next line */
    font-family: 'SpaceMono_Reg';
    font-weight: 400;
    font-size: 1.1em;
    color: #7c7c7c;
    margin-top: 1em;
    margin-bottom: 1em;
}


.image-container:last-child {
    margin-right: 0;
    /* Remove the right margin from the last image */
}

.image-container:hover {
    color: black;
    text-decoration: underline;
    cursor: zoom-in;
}



.abstract {
    padding-top: 2.5em;
    padding-bottom: 2em;
}


.footnote {
    position: relative;
    cursor: help;
    font-weight: 500;

}

.footnote a {
    text-decoration: none;
    color: black;
    cursor: help;
}

.footnote:hover .footnote-content {
    display: inline-block;

}

.footnote-content {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    /* Full width of the viewport */
    max-width: 100%;
    /* Adjust to set the maximum width to the full viewport width */
    background: #48DF3B;
    color: black;
    padding: 1em 5em 1em 5em;
    box-sizing: border-box;
    /* Include padding in the width calculation */
    z-index: 1;
    overflow-wrap: break-word;
    /* Wrap long words to next line */
    text-align: center;
}



.mobile {
    display: none;
}

.gallery {
    margin-left: 16vw;
    margin-right: 16vw;
    padding-top: 2em;
    padding-bottom: 6em;
    border-bottom: .075em solid #000000;
}

@media (orientation: portrait ) {


    main article {
        padding-bottom: 8em;
    }

    #remove {
        display: none;
    }

    main article {
        padding-left: 2em;
        padding-right: 1em;
    }

    .Bibliography h2 {
        padding-left: 10vw;
        font-size: 2.5em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .image-container figcaption {
        font-size: .85em;
    }

    .recommended-articles {
        padding-left: 10vw;
    }

    .margin {
        margin-left: 8vw;
        width: 82vw;
    }

    .footer {
        margin-right: 8vw;
    }

    .gallery {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .header-text h1 {
        padding-top: .5em;
    }

    header {
        border-bottom: none;
        /* Add a 2px solid border at the bottom of the header */

    }

    .show {
        display: block;
    }

    .line {
        height: 0.1vh;
        margin-left: 10vw;
        padding-top: 0em;
        margin-right: 9vw;
        border-bottom: .075em solid #000000;
    }

    .Num {

        padding-top: 1.2em;
    }

    .article-box {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 2em;
        margin-top: 1.5em;
        margin-bottom: 3.5em;
        padding-bottom: 1em;
        border: .05em solid #000000;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .header-text {
        grid-column: 2 /span 10;
        grid-row: 2;
    }

    .header-image {
        grid-column: 1 /span 12;
        grid-row: 1;
        background-image: none;
    }

    .header-image img {
        display: inline-block;
        grid-column: 1 /span 12;
        grid-row: 1;
        width: 100vw;
        margin: 0;
        padding: 0;
    }


    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .Bibliography p {
        grid-column: span 11;
    }

    article p {
        grid-column: 2 / span 10;
    }

    article h2 {
        grid-column: 2 / span 9;
    }

    article h3 {
        grid-column: 2 / span 9;
        padding-left: 0;
        margin-left: 0;
    }

    .quote {
        grid-column: 2 /span 10;
    }

    .row1 {
        grid-column: 2/ span 10;
    }

    .row21 {
        grid-column: 2/ span 5;
    }

    .row22 {
        grid-column: 7/ span 5;
    }


    .row41 {
        grid-column: 1/ span 3;
    }

    .row42 {
        grid-column: 4/ span 3;
    }

    .row43 {
        grid-column: 7/ span 3;
    }

    .row44 {
        grid-column: 10/ span 3;
    }
}

@media (max-aspect-ratio: .6) or (max-width:700px) {



    .recommended-articles {
        margin-left: 2em;
        margin-right: 1em;
    }

    main article {
        padding-top: 5em;
        padding-left: 2em;
        padding-right: 2em;
    }

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 3.5em;
    }

    sup {
        font-size: .5em;
    }

    .box p {
        font-size: 2em;
    }

    h4 {
        font-size: .65em;
    }

    p {
        font-size: 1.5em;
        word-wrap: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
    }

    .margin {
        margin-left: 0vw;
        width: 96vw;
    }

    .Bibliography h2 {
        padding-left: 1vw;
        font-size: 3.5em;
    }

    .recommended-articles {
        padding-left: 0;
    }

    .recommended-articles h2 {
        font-size: 3.5em;
    }

    .gallery {
        margin-left: 2vw;
        margin-right: 3vw;
    }

    article h2 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 1em;
    }

    .header-text h1 {
        padding-top: .5em;
    }

    header {

        border-bottom: none;
        /* Add a 2px solid border at the bottom of the header */

    }

    .header-text {
        padding-right: 1em;
    }


    .show {
        display: block;
    }



    .q2, .i{
        font-size: 2em;
        display: inline;
    }

    .line {
        height: 0.1vh;
        margin-left: 2vw;
        margin-right: 2vw;
        border-bottom: .075em solid #000000;
    }



    .Num {

        padding-top: 1.2em;
    }

    .article-box {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 1em;
        margin-top: 1.5em;
        margin-bottom: 3.5em;
        border: .05em solid #000000;
    }



    .Bibliography {
        padding-left: 1em;
        padding-right: 2em;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .header-text {
        grid-column: 1 /span 12;
        grid-row: 2;
    }

    .header-image {
        grid-column: 1 /span 12;
        grid-row: 1;
        background-image: none;
    }

    .header-image img {
        display: inline-block;
        grid-column: 1 /span 12;
        grid-row: 1;
        width: 100vw;
        margin: 0;
        padding: 0;
    }


    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .Bibliography p {
        grid-column: span 11;
    }

    article p {
        grid-column: 1 / span 12;
    }

    article h2 {
        grid-column: 1 / span 12;
    }

    article h3{
        grid-column: 1/span 12;
        font-size: 2em;
    }

    .quote {
        grid-column: 1 /span 12;
    }

    .row1 {
        grid-column: 1/ span 12;
    }

    .row21 {
        grid-column: 1/ span 6;
    }

    .row22 {
        grid-column: 7/ span 6;
    }


    .row41 {
        grid-column: 1/ span 6;
    }

    .row42 {
        grid-column: 7/ span 6;
    }

    .row43 {
        grid-column: 1/ span 6;
    }

    .row44 {
        grid-column: 7/ span 6;
    }

    .footnote:hover .footnote-content {
        display: none;
    
    }
}